<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnServlet</servlet-name>
        <servlet-class>ReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemListServlet</servlet-name>
        <servlet-class>ItemListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveServlet</servlet-name>
        <servlet-class>GiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <servlet-class>StaffDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffApproveServlet</servlet-name>
        <servlet-class>StaffApproveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffLoginServlet</servlet-name>
        <servlet-class>StaffLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffInventoryServlet</servlet-name>
        <servlet-class>StaffInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffStockUpdateServlet</servlet-name>
        <servlet-class>StaffStockUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAddItemServlet</servlet-name>
        <servlet-class>StaffAddItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnServlet</servlet-name>
        <url-pattern>/ReturnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemListServlet</servlet-name>
        <url-pattern>/ItemListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/ViewOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveServlet</servlet-name>
        <url-pattern>/GiveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDashboardServlet</servlet-name>
        <url-pattern>/StaffDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffApproveServlet</servlet-name>
        <url-pattern>/StaffApproveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffLoginServlet</servlet-name>
        <url-pattern>/StaffLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffInventoryServlet</servlet-name>
        <url-pattern>/StaffInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffStockUpdateServlet</servlet-name>
        <url-pattern>/StaffStockUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAddItemServlet</servlet-name>
        <url-pattern>/StaffAddItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
